
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Text Gradient CSS */
.text-gradient {
  color: #5721d2;
  background-image: linear-gradient(45deg, #5721d2 , #5441d2 33%, #c55d31 67%, #99df3a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

div.card-description {
  scrollbar-width: inherit !important;
}