@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@font-face {
  font-family: "koff";
  src: url("/src/assets/fonts/Kollektif.ttf");
}

@font-face {
  font-family: "koff-bold";
  src: url("/src/assets/fonts/Kollektif-Bold.ttf");
}

:root {
  --body-color: #A2A2A2;
  --heading-color: #D3D3D3;
  --primary-color: #1e1e25;
  --pop-color: #A5B4FC;
  --white: #ffffff;
  color-scheme: dark;
}

* {
  font-family: "koff";
}

/* Text Gradient CSS */
.text-gradient {
  color: #5721d2;
  background-image: linear-gradient(45deg, #5721d2, #5441d2 33%, #c55d31 67%, #99df3a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.card-description {
  scrollbar-width: inherit !important;
}

.home-section {
  height: fit-content;
  min-height: 80vh;
  background-color: #1e1e25;
  color: #fff;
  padding: 15px 0;
  border: none;
}

.home h4 {
  color: #6b5cc8;
  font-size: 1.4rem;
}

.home h1 {
  font-family: "koff-bold";
  color: #D3D3D3;
  font-size: 75px;
  margin: 0;
  line-height: 80px !important;
}

.home h1.dark {
  color: #888686;
}

.home span {
  font-family: "koff-bold";
  color: #a2a1a6;
  font-size: 40px;
  margin: 0;
}

.home span.dark>span {
  color: #656468;
}

.home p {
  font-size: 19px;
  color: #a2a1a6;
}

.home p.dark {
  color: #656468;
}

.headLine {
  color: #6b5cc8;
}

.text-18 {
  font-size: 18px;
}

.divider {
  background-color: #7364d0;
  height: 6px;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #7364d0;
}

.dark>[class^="SearchInput-"] {
  color: black
}

.light [class^="SearchInput-"] {
  color: white
}

.backColor-light {
  background-color: #fff;
  color: black;
}

.backColor-dark {
  background-color: #111827;
  color: white;
}

.flex-1 {
  flex-grow: 1;
}

.border-4 {
  border-width: 4px;
}

.border-light {
  border-color: #6cabdae6;
}

.border-dark {
  border-color: #0a255f;
}

.bg-light {
  background-color: #6cabdae6;
  color: #101827
}

.bg-dark {
  background-color: #0a255f;
  color: #ffffff;
}

.margin-dialog {
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
}

.w-21rem {
  width: 24rem;
}

.mr-20 {
  margin-right: 20px;
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* .bg-dark {
  background-color: #06162c;
}

.bg-light {
  background-color: rgb(255, 251, 245);
} */

.input-dark {
  background-color: #0e2746;
  color: #6cabdae6;
  border: 1px solid #7cb3de;
}

.inputDiv-dark {
  background-color: #031a35;
  border-top: 1px solid #7cb3de;
}

.input-light {
  background-color: #07375be6;
  color: #fff;
  border: 1px solid #103d60;
}

.inputBox::placeholder {
  color: #fff;
}

.inputDiv-light {
  background-color: #366dac;
  border-top: 1px solid #103d60;
}

.rounded-b-lg {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.nishant {
  justify-content: start;
  background-color: #031a35;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.user {
  justify-content: end;
  background-color: #7cb3de;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}