@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@font-face {
  font-family: "koff";
  src: url("/src/assets/fonts/Kollektif.ttf");
}

@font-face {
  font-family: "koff-bold";
  src: url("/src/assets/fonts/Kollektif-Bold.ttf");
}

:root {
  --body-color: #A2A2A2;
  --heading-color: #D3D3D3;
  --primary-color: #1e1e25;
  --pop-color: #A5B4FC;
  --white: #ffffff;
  color-scheme: dark;
}

* {
  font-family: "koff";
}

/* Text Gradient CSS */
.text-gradient {
  color: #5721d2;
  background-image: linear-gradient(45deg, #5721d2, #5441d2 33%, #c55d31 67%, #99df3a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.card-description {
  scrollbar-width: inherit !important;
}

.home-section {
  height: fit-content;
  min-height: 80vh;
  background-color: #1e1e25;
  color: #fff;
  padding: 15px 0;
  border: none;
}

.home h4 {
  color: #6b5cc8;
  font-size: 1.4rem;
}

.home h1 {
  font-family: "koff-bold";
  color: #D3D3D3;
  font-size: 75px;
  margin: 0;
}

.home h1.dark {
  color: #888686;
}

.home span {
  font-family: "koff-bold";
  color: #a2a1a6;
  font-size: 40px;
  margin: 0;
}

.home span.dark > span {
  color: #656468;
}

.home p {
  font-size: 19px;
  color: #a2a1a6;
}

.home p.dark {
  color: #656468;
}

.headLine {
  color: #6b5cc8;
}

.text-18 {
  font-size: 18px;
}

.divider {
  background-color: #7364d0;
  height: 6px;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #7364d0;
}

.dark > [class^="SearchInput-"] {
  color: black
}

.light [class^="SearchInput-"] {
  color: white
}